* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #000099;
    --color-1: #ebe4db;
    --color-2: #ff7b00cc;
    --color-3: linear-gradient(0deg, #0aacac 0%, #83ecec 100%);
    --color-4: #000000;
    --color-5: #0060a3;
    --color-6: #779FA1;
}

p {
    font: 1.5em 'Rubik';
    padding-top: 0.5em;
}

h1 {
    font: 2.5em 'Quattrocento Sans';
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

body {
    padding: 1em;
    background-image: linear-gradient(to bottom right, #982e91, #f93b3b, #ff8600);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

ul {
    list-style-type: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 93vh;
    padding-bottom: 0.5em;
}

.small-section {
    flex: 2;
    margin: 1em;
    height: 98%;
}

.big-section {
    flex: 5;
    height: 93%;
}

.row {
    display: flex;
    justify-content: center;
    margin: 0.5em;
    height: 49%;
}


/* LOGO AND CLOCK */

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    height: 10vh;
    text-align: center;
    text-shadow: 1px 1px 4px #000000;
    width: 100%;
    font: 0.8em 'Raleway';
}

.metropolia {
    display: flex;
    justify-content: left;
}

#m-logo {
    width: 15%;
    padding-right: 1em;
}

#clock {
    display: flex;
    justify-self: space-between;
    color: #17D4FE;
    font: 3em 'Roboto Mono';
    letter-spacing: 7px;
}


/* DS WINDOWS */

.window {
    text-align: center;
    border-radius: 3px;
    margin: 0.3em;
    height: 100%;
}

.small-window {
    width: 30%;
    /*height: fit-content;*/
}

.big-window {
    width: 70%;
    /*height: fit-content;*/
}

.window-content {
    height: fit-content;
    width: fit-content;
}


/* INDIVIDUAL WINDOWS */

#r1-w1 {
    height: 100%;
}

#r1-w1 header {
    background-image: var(--color-3);
    border-radius: 3px;
    border: 1px solid rgb(54, 138, 138);
    height: 7vh;
    margin-bottom: 15px;
    font-size: 3vh;
    text-shadow: 1px 1px 4px grey;
    color: #ffffff;
}

#r1-w2 {
    background-color: var(--color-2);
}

#r1-w3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

#r1-w3 header {
    font-size: 2em;
    padding-left: 40%;
    text-transform: uppercase;
}

#r2-w2 {
    background-color: var(--color-5);
    text-align: left;
}

#r2-w2 header {
    height: 5vh;
    padding: .5em;
}

#r2-w3 {
    background-color: var(--color-4);
}


/* LUNCH MENU */

.lunch-menu {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 2.4vh;
    line-height: 1.5;
}

.lunch-row {
    display: flex;
    width: 100%;
    height: 4.5vw;
    justify-content: space-between;
    margin: 0px 0px 15px 0px;
    background-image: linear-gradient( rgb(255, 255, 255) 10%, rgba(231, 224, 208, 0.87) 90%);
    border-radius: 2px;
    border: 1px solid rgb(182, 189, 176);
    box-shadow: 1px 1px 4px rgb(189, 170, 161);
}

.lunch-menu li {
    padding: 7px;
    opacity: .7;
}

.menu-title {
    width: 60%;
}

.menu-price {
    width: 30%;
}

.menu-properties {
    width: 10%;
}


/* WEATHER */

#weather {
    font-family: 'Roboto Mono';
}

.weather-graphic {
    width: 200px;
    height: 200px;
    display: none;
}

#temp {
    font-size: 3em;
}


/* SLIDESHOW */

.slide-container {
    display: flex;
    justify-content: center;
}

.slides {
    margin: 0 auto;
    overflow: hidden;
}

.slides img {
    position: absolute;
    transition: opacity 1s;
    opacity: 0;
    height: 40%;
}

.slides img:first-child {
    z-index: 2;
    opacity: 1;
}

.slides img:last-child {
    z-index: 1;
    opacity: 1;
}


/* HSL */

#hsl-menu {
    padding-top: 10px;
    padding-left: 0.4em;
}

#hsl-menu li {
    justify-content: flex-start;
    display: inline;
    font: 1.1em 'Rubik';
    opacity: .7;
}

.dest {
    padding-left: 7.2em;
}

.stop {
    padding-left: 14.5em;
}

#hsl-logo {
    padding-top: 5px;
    padding-left: 2em;
    height: 40px;
    width: 120px;
    position: relative;
}

.hsl-list {
    font: 1.2em 'Rubik';
    padding-top: 0.5em;
    text-align: left;
    width: 800px;
}

.hsl-row {
    display: inline-flex;
    width: fit-content;
    height: fit-content;
    justify-content: space-between;
    line-height: 1.3;
    ;
}

.hsl-time {
    padding-left: 2em;
    column-width: 50px;
}

.hsl-line {
    color: yellow;
    padding-left: 20px;
    column-width: 70px;
}

.hsl-destination {
    padding-left: 2em;
    column-width: 267px;
}

.hsl-stop {
    padding-left: 4em;
    column-width: 100px;
}

.hsl-row>li {
    padding-right: 1em;
}


/* TELETEXT */

#ttext>li {
    font: 0.9em 'Roboto Mono';
    text-align: left;
    word-spacing: 0.5em;
    line-height: 1.5;
}

#ttext>header {
    height: 2.2em;
    font: 1.9em 'Press Start 2P';
    color: #ffffff;
    background-color: #0000ff;
    margin-bottom: 10px;
}

#ttext>header>h3 {
    padding-top: 10px;
    font-size: 0.8em;
    align-self: center;
}

#num {
    color: #ffff00;
}

#num, #subpage {
    padding: 0.5em 0 0 0.5em;
}
#time,
#num {
    text-transform: uppercase;
}

/* ADMIN PANEL */

.modal {
    width: 80vw;
    height: 80vh;
    color: black;
    background-color: var(--color-1);
    position: fixed;
    top: 10em;
    left: 10em;
    display: none;
    z-index: 10;
}

.modal-container{
    display: flex;
}