  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #000099;
    --color-1: #ebe4db;
    --color-2: #ff7b00cc;
    --color-3: linear-gradient(0deg, #0aacac 0%, #83ecec 100%);
    --color-4: #000000;
    --color-5: #0060a3;
    --color-6: #779FA1;
}

p {
    font: 1.5em 'Rubik';
    padding-top: 0.5em;
}

h1 {
    font: 2.5em 'Quattrocento Sans';
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

body {
    padding: 1em;
    background-image: linear-gradient(to bottom right, #982e91, #f93b3b, #ff8600);
    /* background-image: url("/assets/img/liquidworms.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

ul {
    list-style-type: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 93vh;
    padding-bottom: 0.5em;
}

.small-section {
    flex: 3;
    margin: 1em 0 0 1em;
}

.big-section {
    height: 93%;
}

.row {
    display: flex;
    justify-content: center;
    margin: 0.5em;
    height: 45%;
}


/* LOGO AND CLOCK */

header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    text-shadow: 2px 2px 8px black;
    width: 100%;
    font: 0.4em 'Raleway';
}

.metropolia {
    display: flex;
    justify-content: left;
}

#m-logo {
    width: 60%;
    padding-right: 1em;
}

#clock {
    display: flex;
    justify-self: space-between;
    color: #ffffff;
    font: 6em 'Roboto Mono';
    text-shadow: 2px 2px 8px black;
    letter-spacing: 7px;
}


/* DS WINDOWS */

.window {
    text-align: center;
    border-radius: 3px;
    margin: 0.3em;
    height: 100%;
}

.small-window {
    width: 40%;
    height: fit-content;
}

.big-window {
    width: 60%;
}

.window-content {
    height: fit-content;
    width: fit-content;
}


/* INDIVIDUAL WINDOWS */

#r1-w1 {
    height: 100%;
    width: 106%;
}

#r1-w1 header {
    background: linear-gradient( #ec561f, #ec561f8e);
    box-shadow: 2px 2px 8px rgb(218, 22, 8);
    border-radius: 5px 5px 0 0;
    height: 7vh;
    font: 3vh 'Raleway';
    text-shadow: 1px 1px 4px grey;
    color: #ffffff;
}

#r1-w2 {
    width: 49%;
    height: 55%;
}

#r1-w3 {
    display: flex;
    flex-direction: column;
}

#r2-w2 {
    background-color: var(--color-5);
    text-align: left;
    width: 59%;
    height: 100%;
}

#r2-w2 header {
    height: 5vh;
    padding: .5em;
}

#r2-w3 {
    background-color: var(--color-4);
    height: 90%;
    width: 22vw;
    margin-top: 40px;
}


/* LUNCH MENU */

.lunch-menu {
    color: white;
    font: 2.2vh 'Quattrocento Sans';
    text-align: left;
    line-height: 1.4;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 8px rgb(218, 22, 8);
}

.lunch-row {
    display: flex;
    width: 100%;
    height: 8vh;
    line-height: 0.9;
    border-radius: 2px;
}

.lunch-menu li {
    padding: 8px;
}

.menu-title {
    width: 70%;
}

.menu-price {
    width: 20%;
    font-size: 0.9em;
}

.menu-properties {
    width: 10%;
    font-size: 0.9em;
}


/* WEATHER */

#weather {
    font-family: 'Roboto Mono';
    padding-left: 80px;
}

#weather-location {
    text-transform: uppercase;
    text-shadow: 1px 1px 4px #000000;
    font: 3em 'Roboto Mono';
    padding-left: 80px;
}

.w-icon-md {
    margin: 0 0 0 5em;
    object-fit: fill;
}

#temp {
    font-size: 3em;
}

#wind {
    font-size: 2em;
}

#raindrop-id {
    width: 1em;
}


/* SLIDESHOW */

.slides {
    margin: 0 auto;
    overflow: hidden;
}

.slides video {
    padding-left: 10px;
    position: absolute;
    transition: opacity 1s;
    opacity: 0;
    object-fit: cover;
    height: 35%;
    width: 35%;
}

.slides video:first-child {
    z-index: 2;
    opacity: 1;
}

.slides video:last-child {
    z-index: 1;
    opacity: 1;
}


/* HSL */

#hsl-menu {
    padding-top: 6px;
    padding-left: 0.4em;
}

#hsl-menu li {
    justify-content: flex-start;
    display: inline;
    font: 1.1em 'Rubik';
    opacity: .7;
}

.dest {
    padding-left: 4.2em;
}

.stop {
    padding-left: 14.5em;
}

#hsl-logo {
    padding-top: 5px;
    padding-left: 1em;
    height: 45px;
    width: 120px;
    position: relative;
}

.hsl-list {
    font: 1.2em 'Rubik';
    padding-top: 0.5em;
    text-align: left;
    width: 800px;
}

.hsl-row {
    display: inline-flex;
    width: fit-content;
    height: fit-content;
    justify-content: space-between;
    line-height: 1.3;
    ;
}

.hsl-time {
    padding-left: 1em;
    column-width: 50px;
}

.hsl-line {
    color: yellow;
    padding-left: 20px;
    column-width: 70px;
}

.hsl-destination {
    padding-left: 0.1em;
    padding-right: 0;
    column-width: 285px;
}

.hsl-stop {
    padding-left: 3em;
    column-width: 120px;
}

.hsl-row>li {
    padding-right: 1em;
}


/* TELETEXT */

#ttext>li {
    font: 1em 'Roboto Mono';
    text-align: left;
    word-spacing: 0.5em;
    line-height: 2;
}

#ttext>header {
    height: 2.2em;
    font: 1.9em 'Press Start 2P';
    color: #ffffff;
    background-color: #0000ff;
    padding: 10px 0 0 3px;
    margin-bottom: 10px;
}

#ttext>header>h3 {
    padding: 80px;
    font-size: 0.55em;
    align-self: center;
}

#num {
    color: #ffff00;
}

#num,
#subpage {
    padding: 0.5em 0 0 0.5em;
}

#subpage > li {
    line-height: 1.3;
    padding-bottom: 1em;
}

#time,
#num {
    text-transform: uppercase;
}

#time {
    padding-left: 5px;
}

/* ADMIN PANEL */

.modal {
    width: 20vw;
    height: 90vh;
    color: black;
    background-color: var(--color-1);
    position: fixed;
    top: 3vh;
    left: 3vw;
    display: none;
    justify-content: center;
    z-index: 10;
    box-shadow: 2px 2px 8px rgb(22, 2, 0);
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-button {
    padding: 0.8em;
    font: 1.7em 'Rubik';
    background-color: var(--color-5);
    color: white;
    width: 10em;
    margin: 1em 0 0 1em;
    text-align: center;
}

.modal-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

#language {
    margin-top: 4em;
    background-color: var(--background);
}

#close-modal {
    background-color: red;
    margin-top: 6em;
}
